#Mon May 13 18:01:17 BST 2019
output.dir.1=../../../MultipleChoiceQuiz/app/build/outputs/singlehtmljavadoc
output.dir.2=../../../dist/javadoc
output.dir.3=../out
output.file=test.rtf
output.format=HTML
output.launchViewer=false
param.docTitle.value=Demo Documentation
param.fmt.page.breakBefore.class.value=true
param.fmt.page.breakBefore.package.value=true
param.windowTitle.value=DocFlex/Doclet Demo
template.1=../templates/javadoc/PlainDoc.tpl
template.2=../templates/javadoc/FramedDoc.tpl
template.3=../templates/JavadocPro/FramedDoc.tpl
